@use '../base/variables' as *;
@use "sass:color";


// Main Button Styling
%buttons {
  -webkit-appearance: none;
  display           : inline-block;
  font-size         : 1rem;
  text-transform    : none;
  padding           : .75rem 1.25rem;
  margin            : 0 0 .5rem 0;
  vertical-align    : middle;
  text-align        : center;
  cursor            : pointer;
  text-decoration   : none;
  line-height       : 1;
  border            : $border-width $border-style transparent;
  border-radius     : $border-radius;
  box-shadow        : $box-shadow;
  background-color: $primary-color;
  color           : $flat-white;

}

// Buttons on Focus
%buttons-focus {
  color: $flat-black;
  background-color: color.adjust($primary-color, $alpha: -0.5);
}

// Buttons on Hover
%buttons-hover {
  background-color: $flat-white;
  border          : $border-width $border-style $primary-color;
  color           : $flat-black;

}

// Apply to .button class, html button element and button-inputs
#{$buttons} {
  @extend %buttons;

  &::moz-focus-inner {
    border : 0;
    padding: 0;
  }
  &:focus {
    @extend %buttons-focus;

  }

  &:hover:not(:focus) {
    @extend %buttons-hover;
  }

}

// Success Buttons
.button-success,
a.button-success {
  background-color: $success;
  border-color: $success;

  &:hover:not(:focus) {
    border-color: $success;
    border: $border-width $border-style $success;
  }

  &:focus {
    border-color: $success;
    background-color: color.adjust($success, $alpha: -0.5);
  }

}

// Danger Buttons
.button-danger,
a.button-danger {
  background-color: $danger;
  border-color: $danger;

  &:hover:not(:focus) {
    border-color: $danger;
    border: $border-width $border-style $danger;
  }

  &:focus {
    border-color: $danger;
    background-color: color.adjust($danger, $alpha: -0.5);
  }
}

// Square Buttons
.button-square,
a.button-square {
  border-radius: 0;
}

// Round Buttons
.button-round,
a.button-round {
  border-radius: 40px;
}

//Muted Buttons
.button-muted,
a.button-muted {
  border: $border-width $border-style $flat-grey;
  background-color: $flat-white;
  color: $flat-black;

  &:hover:not(:focus) {
    border-color: color.scale($flat-black, $lightness: +40%);;
  }

  &:focus {
    border-color: $flat-black;
    background-color: color.adjust($flat-grey, $alpha: -0.5);
  }
}

.button-full,
a.button-full {
  display: block;
  width: 100%
}