@use 'sass:color'as color;
@import '../base/variables';
@import '../base/mixins';




html {
  font     : $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-size: $font-size;
}

// Heading Styles
h1,
h2,
h3,
h4,
h5 {

  color: $heading-font-color;
}

h1 {
  font-size: $h1-mobile;
}

h2 {
  font-size: $h2-mobile;
}

h3 {
  font-size: $h3-mobile;
}

h4 {
  font-size: $h4-mobile;
}

h5 {
  font-size: $h5-mobile;
}

@include small-breakpoint {
  h1 {
    font-size: $h1;
  }

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  h4 {
    font-size: $h4;
  }

  h5 {
    font-size: $h5;
  }
}

// Text Styles
p {
  color: $flat-black;
}

a {
  color          : $link-color;
  text-decoration: none;
  cursor         : pointer;
  transition     : color 0.3s ease;
}

a:hover {
  color: color.change($link-color, $lightness: 30%);
}


mark {
  background-color: $highlight;
  display         : inline-block;
}

pre {
  border: 0;

  background : $code-background;
  padding    : 1rem;
  tab-size   : 2;
  color      : $code-color;
  font-family: $code-family;
  font-size  : $code-size;
  margin     : 0 0 1.5rem 0;

  code {
    font-family: $code-family;
    line-height: 1.2;
  }
}

// Horitontal line
hr {
  width           : 95%;
  height          : 2px;
  border          : none;
  background-color: $flat-black;
}

// Keyboard input
kbd {
  background-color: #f7f7f7;
  border          : 1px solid #ccc;
  border-radius   : 3px;
  box-shadow      : 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color           : #333;
  display         : inline-block;
  font-family     : Helvetica, Arial, sans-serif;
  font-size       : 13px;
  line-height     : 1.4;
  margin          : 0 .1em;
  padding         : .1em .6em;
  text-shadow     : 0 1px 0 #fff;
}

// Inline code styling
:not(pre)>code {
  color        : $code-color;
  background   : $code-background;
  font-family  : $code-family;
  font-size    : $code-size;
  padding      : 0 0.2rem;
  border       : 1px solid $flat-black;
  border-radius: 0;
}

//Blockquote
blockquote {
  border-left : 5px solid $primary-color;
  padding-left: 1.3rem;
  font-size   : 1.4rem;
  @include small-breakpoint {
    padding-left: 1.8rem;
  }

  cite {
    display       : block;
    color         : $primary-color;
    font-size     : 1.2rem;
    letter-spacing: 0.1rem;
  }
}