@use './components/Buttons';
@use 'base/variables' as *;
@import 'base/normalize.css';


html {
  font-size: 26px;
}

body, html {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: $flat-white;
}
